.loginPage {
  margin: 4rem 2rem;
}
.loginPage h2 {
  margin-bottom: 4rem;
}
.formBody {
  margin: auto;
  max-width: 350px;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.formFields {
  padding: 1rem 2rem 0 2rem; 
}
.formFields h3 {
  margin-top: 0;
}
.formFooter {
  background: var(--color-red);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
