.woodWarehousePage {
  margin: 4rem;
}

.addWoodBody {
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 2rem 0;
  border-radius: .5rem;
  box-shadow: 1px 0px 3px rgb(0 0 0 / 20%);
  max-width: 750px;
  overflow: hidden;
}
.addWoodFields {
  display: flex;
  padding: 1rem;
}
.addWoodButtonWrap {
  background: #ee3a43;
  padding: 1.65rem;  
}

@media (max-width: 1024px) {
  .addWoodBody {
    max-width: 300px;
  }
  .addWoodBody,
  .addWoodFields {
    flex-flow: column wrap;
  }
  .addWoodButtonWrap {
    width: 100%;
    padding: 1.65rem 0; 
  }
}
