.woodWarehousePage {
  margin: 4rem;
}

.addWoodBody {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: .5rem;
  box-shadow: 1px 0px 2px #d3cccc;
  background: #f9f9f9;
  max-width: 700px;
}
.addWoodFields {
  display: flex;
}

@media (max-width: 1024px) {
  .addWoodBody {
    max-width: 300px;
  }
  .addWoodBody,
  .addWoodFields {
    flex-flow: column wrap;
  }
}
